h1{color: blue;
background-color: grey;}

table{border: 2px black solid;}
table{margin: 100px;}
th{color:lightgray}
th{border: 2px black solid;}
th{padding: 10px;}
td{border: 2px black solid;}
td{padding: 10px;}